
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  .App-header {
    background-color:white;
    overflow: visible;
    width: 100%;
    text-align: center;
    color:black;
  }
 